body{
	background: linear-gradient(180deg, #E79645, #662000);
  margin-top: 60px;
  margin-bottom: 60px;
}

.main-title{
	color: #AF5D16;
  font-weight: 300;
}

.caption {
  text-align:center;
}

.subtitle{
	text-align: center;
}

/* Dev Info */

.dev-info{
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 14px;
  text-align: right;
  position: relative;
  right: 10px;
  color: #fff;
}

#website-link{
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* Media Queries */

@media(max-width: 700px){
	body{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	h1{
		font-size: 30px;
	}
	li{
		font-size: 12px;
	}
	.wikipedia-text{
		font-size: 18px;
	}
}
