body{
	background: linear-gradient(180deg, #E79645, #662000);
  margin: 60px;
}

.caption {
  text-align:center;
}

.subtitle{
	text-align: center;
}

@media(max-width: 700px){
	li{
		font-size: 12px;
	}
}
